* {
  margin: 0;
  padding: 0;
}

html {
  background: #252525;
  color: white;
  font-family: 'PT Sans Narrow', sans-serif;
}

.controls {
  position: fixed;
  text-align: center;
  /*top: 1em;*/
  width: 100%;
}


.stopwatch {
  font-size: 15vw;
  height: 100%;
  line-height: 100vh;
  text-align: center;
  color: white;
}
