{% extends 'base.html' %}
{% block head %}
<form action="/logout">
    <input type="submit" value="Sign out">
</form>
{% endblock %}

{% block content %}

<h1>Make a call</h1>

	<form action="/call" method="POST">
		<!-- #no need for user to input their num, we'll just grab it from the db. 
		Enter a phone number(add country code): 
		<input type="tel" name="phonenum" autocomplete="on" value="+13474568702"><br><br> -->
		Enter the phone number you want to record:
		<input type="tel" name="phonenum2" autocomplete="on" required><br>
		<input type="submit" value="call">
	</form>
<a href="/profile/{{ user_username }}">Go back to profile page</a>

{% endblock %}