{% extends 'base.html' %}
{% block head %}{% endblock %}

{% block content %}
<div class="bg">

<!-- Nav Bar -->
<nav class="navbar navbar-expand-lg" id="navbar_color"> 
    <a class="navbar-brand" href="#">
    <img src="/static/images/LogoMakr_1eVpm6.png" width="100" height="100" class="d-inline-block align-top" alt="">
    </a>
  <form class="form-inline">
  <div class="" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 20px;"><i class="far fa-user"></i> {{ user_username }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/profile/{{ user_username }}">Profile/Call log</a>
          <a class="dropdown-item" href="#">Make a call</a>
          <a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</form>
</nav>

<h1 class="title_head" align="center">Make a call</h1>

<div align="center" >
  <form action="/call" method="POST">
    <!-- #no need for user to input their num, we'll just grab it from the db. 
    Enter a phone number(add country code): 
    <input type="tel" name="phonenum" autocomplete="on" value="+13474568702"><br><br> -->
    <a style="color: #FFFFFF;">Enter the phone number you want to record:</a>
    <input type="tel" name="phonenum2" pattern="[0-9]{11}" autocomplete="off" required><br>
    <input type="submit" value="call">
  </form>
</div>
</div>
{% endblock %}