{% extends 'base.html' %}

{% block head %}
<!-- CSS for this page -->
<link rel="stylesheet" href="/static/css/profile.css">

<!-- w3.css for save button -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--DataTables.net downloaded locally -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
{% endblock %}

{% block content %}

<div class="bg">

<!--navbar -->
<nav class="navbar navbar-expand-lg" id="navbar_color"> 
    <a class="navbar-brand" href="#">
    <img src="/static/images/LogoMakr_1eVpm6.png" width="100" height="100" class="d-inline-block align-top" alt=""></a>
  <form class="form-inline">
  <div class="" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 20px;"><i class="far fa-user"></i> {{ user_username }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Call log</a>
          <a class="dropdown-item" href="/call">Make a call</a>
          <a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
  </form>
</nav>

 <!-- message flashes -->
{% with messages = get_flashed_messages() %}
{% if messages %}
    <div style="color: white; font-size: 20px" align="center">
    {% for message in messages %}
        {{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}   

<div align="center" class="title_head" style="font-size: 25px;">
<p><b> USERNAME:</b> {{ user_username }}</p>
<p><b>PRIMARY PHONE NUMBER:</b> {{ user_phone }}</p>
<p><b>EMAIL ADDRESS:</b> {{ user_email }}</p><br>
<p id="title_head" style="font-size: 20px;color: #E7D235;"">Trifecta's phone number: (669) 271-7646<br>
    We recommend saving this number in your contacts for faster serach</p>
</div>

<!--table with call data -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-8">
        <h3 class="title_head">Call Log</h3>
        <table id="calllog_table" class="table-sm table-hover table-light table-bordered">
            <thead>
                <tr>
                    <th scope="col">Date created</th>
                    <th scope="col">Number called</th>
                    <th scope="col">Duration</th>
                    <th scope="col">Recording</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                    {% for item in user_calls %}
                <tr>
                    <td>{{ item.call_datetime }}</td>
                    <td>{{ item.number_called }}</td>
                    <td>{{ item.call_duration }}</td>
                    <td><audio controls><source src="{{ item.recording_url }}"/></audio></td>
                    <td>
                            <div class="w3-container">
                            <form action="/profile_changed" accept-charset="UTF-8" method="post">
                            <input type="hidden" name="call_sid" id="call_sid_id" value="{{ item.call_sid }}">
                            <input type="text" name="comment" title="Only letters, numbers" id="comment_id" maxlength="50" style="color: #FFFFFF; background-color: #252525;" value="{{ item.user_comments }}"><button class="w3-button w3-border w3-tiny" class="btn">Save</button>
                            </form> 
                            </div>
                    </td>
                    <td>
                        <div>
                        <form action="/delete" accept-charset="UTF-8" method="post">
                        <input type="hidden" name="call_sid" id="call_sid_id" value="{{ item.call_sid }}">
                        <input type="submit" value="x" id="delete-btn" class="btn btn-xs" name="delete" onclick="msg()">
                        </form>
                        </div>
                    </td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
        </div>
        <div class="col-sm"></div>
    </div>
</div>

<!--DataTables.net downloaded locally -->
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="/static/js/jquery.dataTables.min.js">
</script>

<!-- Javascript for this page -->
<script type="text/javascript">
/*let deleteBtn = doucment.querySelector('#delete-btn');*/
function msg(evt) {
    alert("Call Deleted");
    evt,preventDefault();
}
    
//Tell browser what to call when the page is ready to be viewed
$(document).ready( 
    //Call this anonymous function
    function () {
        //Create a DataTable
        var data_table = $('#calllog_table').DataTable(
            {
                "order": [[ 0, "asc" ]]
            });
        //var column = data_table.columns(0);
        //column.visible(false);
    } 
);
</script>

{% endblock %}

