{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="/static/css/profile.css">
{% endblock %}
{% block content %}
<form action="/logout">
    <input type="submit" value="Sign out">
</form>

<h3>Call Log/Call History</h3>
<h2>(maybe profile picture? you know to make it look nice) USERNAME</h2>

<!-- {% for item in user_calls %}

<audio id="myAudio">
  <source src="{{ item.recording_url }}" type="audio/ogg">
  <source src="{{ item.recording_url }}" type="audio/mpeg"></audio>
{% endfor %} -->

   <table id="table_id" class="display" width="70%" cellspacing="0">
        <thead>
            <tr>
                <th>Date created</th>
                <th>Number called</th>
                <th>Duration(H:M:S)</th>
                <th>Recording</th>
                <th>Add a note/Description</th>
                <th>Delete/Action</th>
            </tr>
        </thead>
        <tbody>
                {% for item in user_calls %}
            <tr>
                <td>{{ item.call_datetime }}</td>
                <td>{{ item.number_called }}</td>
                <td>{{ item.call_duration }}</td>
                <!-- <td><button onclick="playAudio()" type="button" class="playbutton">Play</button> <button onclick="pauseAudio()" type="button" class="pausebutton">Pause</button></td> -->
                <td><audio controls><source src="{{ item.recording_url}}"/></audio></td>
                <td>*inline editing**</td>
                <td>**delete button**</td>
            </tr>
                {% endfor %}
            <tr>
                <td></td>
                <td></td>
            </tr>
        </tbody>
    </table>

<!-- <script>
var x = document.getElementById("myAudio"); 

function playAudio() { 
    x.play(); 
} 

function pauseAudio() { 
    x.pause(); 
} 
</script>
 -->
<h2>Account details</h2>
<p><b>Username:</b> {{ user_username }}<br>
<b>Primary phone number:</b> {{ user_phone }}<br>
<b>Email address:</b> {{ user_email }}<br></p>

<a href="/call">Click here to make a call</a>


{% endblock %}

