{% extends 'base.html' %}
{% block head %}

<!-- CSS for timer -->
<link rel="stylesheet" href="/static/css/timer.css">
<div class="bg">
{% endblock %}

{% block content %}

<!-- navbar -->
<nav class="navbar navbar-expand-lg" id="navbar_color"> 
    <a class="navbar-brand" href="#">
    <img src="/static/images/LogoMakr_1eVpm6.png" width="100" height="100" class="d-inline-block align-top" alt=""></a>
  </button>
  <form class="form-inline">
  <div class="" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; font-size: 20px;"><i class="far fa-user"></i> {{ user_username }}</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="/profile/{{ user_username }}"">Profile/Call log</a>
          <a class="dropdown-item" href="/call">Make a call</a>
          <a class="dropdown-item" href="/logout"><i class="fas fa-power-off"></i> Logout</a>
        </div>
      </li>
    </ul>
  </div>
</form>
</nav>

<div id="redirect_page" style="margin: 0 auto; text-align: center;">
<h1 class="title_head">CALL IN PROGRESS...</h1>
<p> You will be redirected to your call-log page after the call has completed. </p>
</div> 

<div id="inprogress"></div>

<!--Stop timer js -->
  <nav class="controls">
      <body onload="stopwatch.start();">
  </nav>
    
    <div class="stopwatch"></div>
    <ul class="results"></ul>


<!-- Javascript for this page -->
<script src="/static/js/timer.js"></script>
<script type="text/javascript">
    var g_call_sid = "";
    function check_finished() {
        var url2 = "/iscallactive?call_sid=" + g_call_sid;
        console.log("checking url");
        console.log(url2);
        //AJAX
        $.ajax({
          url: url2, 
          success: function(result){
            //$("#inprogress").html(result);
            if (result == "FALSE") {
              stopwatch.stop();
              window.location.assign("/profile/{{ user_username }}");
              $("#inprogress").html("");
            }
          }
        });
    }

    //https://stackoverflow.com/questions/4842590/how-to-run-a-function-when-the-page-is-loaded
     function codeAddress() {
            var call_sid = "{{call_sid }}";
            console.log("call_sid");
            console.log(call_sid);
            g_call_sid = call_sid;
            //https://stackoverflow.com/questions/5638783/how-do-i-get-this-javascript-to-run-every-second
            var t=setInterval(
              function() { 
                check_finished();
              },1000);
        }
        //need to use document.ready not onload
      $(document).ready(codeAddress);
</script>

{% endblock %}