{% extends 'base.html' %}
{% block head %}
	
{% endblock %}
<div class="bg">
{% block content %}

<nav class="navbar navbar-expand-lg" id="navbar_color_hp">
  <a class="navbar-brand" href="#">
  	<img src="/static/images/LogoMakr_1eVpm6.png" width="200" height="200" class="d-inline-block align-top" alt=""></a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
 </nav>


 <!-- message flashes -->
{% with messages = get_flashed_messages() %}
{% if messages %}
	<div style="color: white; font-size: 20px" align="center">
	{% for message in messages %}
    	{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}	



<div align="center">
	<h1 class="title_head">You're almost there!</h1>
		<form action="/verify" accept-charset="UTF-8" method="post">
			
		<div>
			<label class="title_head">Enter the code you were sent:</label>
			<input name="token" id="token" required>
		</div>
			<button name="button" type="submit">Verify</button>
		</form><br>
		<form action="/logout"><button name="button" type="submit">Start over</button></form>
</div>
</div>

{% endblock %}